body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.leftboxes{

  height:100%;
  width: 20%;
position:absolute;
}

.floating-box {
    float: left;
    width: 100%;
    height: 50%;    
    border: 3px solid #8AC007;  
     margin:5px;
}



.rightboxes{
  width: 75%;
  height: 100%;
  position: absolute;
  right: 0;

}


.floatingmapbox {
  border: 3px solid #8AC007;
  width: 100%;
  height: 75%;
  position: relative;
  right: 0;

}

.rightloginbox {
    position: relative;
    clear: left;
    border: 3px solid red;   
    width: 100%;   
height:25%;
}