body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
  margin: 0;
  padding: 0;
  background:white;
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  
}

.distance{
background-color:coral;

}

.leftboxes{

  height:100%;
  width: 25%;
position:absolute;
}

.floating-box {
    float: left;
    width: 100%;
    height: 50%;    
    border: 1px solid salmon;  
     margin:0px;
     padding:10px;
    
}



.rightboxes{
  width: 75%;
  height: 100%;
  position: absolute;
  right: 0;

}


.floatingmapbox {
  border: 3px solid salmon;
  width: 100%;
  height: 100%;
  position: relative;
  right: 0;
   margin:0px;
}

.rightloginbox {
    background-color: white;
    position: absolute;
    right:0;
    top: 0px;
    border: 3px solid salmon;   
    width: 100%;   
     height:10%;
    margin:0px;
    margin-bottom:1px;
    padding:10px;
}

.rightregisterbox{
background-color: white;
    position: absolute;
    right:0;
    top: 0px;
    border: 3px solid salmon;   
    width: 100%;   
     height:10%;
    margin:0px;
    margin-bottom:1px;
    padding:10px;
}

.label1{
    font:bold;
    color:green;

}

.btn btn-primary{
    height:1px;
    width:1px;
    display:inline;
    padding:10px;

}

.searchbox {
    margin-top: 10px;
}

#directionsearch{
    
    padding:20px;
}
.addbox{
    background-color:coral;
    border:3px solid blue;
    margin:10px;
    width:70%;
}

.btn btn-default{
    width:2px;
   
}
.distance{
    margin:10px;
    height:50px;
    width:100px;

}
.timeordistance{
  
    margin:10px;
    font-size:large;
}

.sliderbody {
    overflow-x: hidden;
}
#slideout {
    background: #666;
    position: absolute;
    width: 280px;
    height: 80px;
    top: 45%;
    right:-280px;
    padding-left: 300px
}
    
#clickme {
    position: absolute;
    top: 0; left: 0;
    height: 60px;
    width: 60px;
    background: #000000;
}

#slidecontent {
    position: absolute;
    right: 0px;
}
#content {
    background: #000000;
    width: 200px;
    height: 80px;
}

.logo{
    position: absolute;
    font-size:larger;
    font-style:italic;
    color:darkseagreen;
    left: 10%;
    
}

