@{ 
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="byTheRoad">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
   
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Angular/Scripts/app.js"></script>
    <script src="~/Angular/Scripts/mapLocation.js"></script>
    <script src="~/Angular/Scripts/registerController.js"></script>
    <script src="~/Angular/Scripts/roadService.js"></script>
    <script src="~/Angular/Scripts/homeController.js"></script>
    <script src="../Scripts/mapLocation.js"></script>
</head>
<body>
    <ng-view></ng-view>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGJ-JW9CT74QfVHmaO_PVbJiJ9Mj42MqQ&signed_in=true&callback=initMap"
            async defer>
    </script>
</body>
</html>