@{ 
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="byTheRoad">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>@ViewBag.Title</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")  
    

    <link rel="stylesheet" href="~/Content/animate.min.css">   
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Angular/Scripts/app.js"></script>
    <script src="~/Angular/Scripts/locationService.js"></script>
    <script src="~/Angular/Scripts/mapService.js"></script>
    <script src="~/Angular/Scripts/roadService.js"></script>
    <script src="~/Angular/Scripts/authUserService.js"></script>
    <script>
        //C# injects
        angular
            .module('byTheRoad')
            .constant('routeUrls', {
                registerApi: '@Url.HttpRouteUrl("Register", null)'

            });

    </script>

    <script src="~/Angular/Scripts/homeController.js"></script>
</head>
<body>
    <ng-view></ng-view>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGJ-JW9CT74QfVHmaO_PVbJiJ9Mj42MqQ&callback=initMap&libraries=places"
            async defer>
    </script>
    <script src="~/Angular/Scripts/mapLocation.js"></script>

</body>
</html>