<div class="nav">

    <ul>
        <li class="logo"><h1 class="logo">ByTheRoad</h1></li>
        <li class="about"><a ng-click="self.loggingin = !self.loggingin">Login</a></li>
        <li class="news"><a ng-click="self.registering = !self.registering">Register</a></li>
        <li class="contact"><a ng-click="self.viewingPlaces = !self.viewingPlaces">My Places</a></li>
    </ul>
</div>



<div class="leftboxes">

    <div class="floating-box">
        <h4 id="stopin">Choose the time or the distance you need to stop in</h4><br />


        <div>
            <button type="button" ng-model="self.b1" class="distance" ng-click="self.b1 = true; self.b2 =false; self.b3 = false">minutes</button>
            <button type="button" ng-model="self.b2" class="distance" ng-click="self.b2 = true; self.b1 =false; self.b3 = false ">hours</button>
            <button type="button" ng-model="self.b3" class="distance" ng-click="self.b3 = true; self.b1 =false; self.b2 = false">miles</button>

            <div>
                <p ng-hide="self.b1 === false || self.b2 === true || self.b3 === true" ng-show="content == 'minutes'">
                    Enter time in minutes you want to stop in <br />
                    <input name="content" value="" type="text" ng-model="self.minutes" class="distanceortime" required />
                    <button ng-click="self.minutes = null" ng-show="self.minutes.length > 0" class="btn btn-danger">Clear</button>
                </p>

                <p ng-hide="self.b1 === true || self.b2 === false || self.b3 === true" ng-show="content == 'hours'">
                    Enter time in hours you want to stop in<br />
                    <input type="text" ng-model="self.hours" class="distanceortime" required />
                    <button ng-click="self.hours = null" ng-show="self.hours.length > 0" class="btn btn-danger">Clear</button>
                </p>

                <p ng-hide="self.b1 === true || self.b2 === true || self.b3 === false" ng-show="content == 'miles'">
                    Enter miles you want to stop in<br />
                    <input type="text" ng-model="self.miles" class="distanceortime" required />
                    <button ng-click="self.miles = null" ng-show="self.miles.length > 0" class="btn btn-danger">Clear</button>

                </p>

            </div>

        </div>


        <div ng-show="self.miles.length > 0 || self.hours.length > 0 || self.minutes.length > 0 " class="container">
            <div class="btn-group">
                <button type="button" ng-click="self.selectedItem = 'food'; self.nearbySearch()" class="btn btn-primary ">
                    <span> <img src="../../fonts/glyphicons-476-dining-set.png" id="img" /></span>
                </button>
                <button type="button" ng-click="self.selectedItem = 'lodging'; self.nearbySearch()" class="btn btn-primary ">
                    <span><img src="../../fonts/glyphicons-496-bed.png" id="img" /></span>
                </button>
                <button type="button" ng-click="self.selectedItem = 'store'; self.nearbySearch()" class="btn btn-primary">
                    <span><img src="../../fonts/glyphicons-203-shopping-cart.png" id="img" /></span>
                </button>
                <button type="button" ng-click="self.selectedItem = 'gas_station'; self.nearbySearch()" class="btn btn-primary ">
                    <span>
                        <img src="../../fonts/glyphicons-472-gas-station.png" id="img" />
                    </span>
                </button>
                <button type="button" ng-click="self.selectedItem = 'travel_service'; self.nearbySearch()" ng-model="self.value5" class="btn btn-primary">
                    <span><img src="../../fonts/glyphicons-568-transport.png" id="img" /></span>
                </button>
                <button type="button" ng-click="self.selectedItem = 'local_service'; self.nearbySearch()" ng-model="self.value6" class="btn btn-primary">
                    <span><img src="../../fonts/glyphicons-490-handshake.png" id="img" /></span>
                </button>
                <button type="button" ng-click="self.selectedItem = 'churches'; self.nearbySearch(); " ng-model="self.value7" class="btn btn-primary">
                    <span><img src="../../fonts/glyphicons-303-temple-christianity-church.png" id="img" /></span>
                </button>

            </div>
            <div>
                <form ng-submit="self.textSearch()">
                    <button type="submit" id="input-btn" class="btn btn-primary glyphicon glyphicon-search" value="Search"></button>
                    <input type="text" class="searchbox" id="textsearch" name="search" />
                </form>
            </div>


        </div>


        <div id="seachResults">
            <div ng-repeat="result in self.results">
                <label>Your next stop</label>
                <ul>
                    <li>result.name</li>
                    <li>result.formatted_address</li>
                    <li>result.formatted_phone_number</li>
                    <li>result.website</li>
                    <li>result.price_level</li>
                    <li>result.rating</li>
                    <li>result.photos</li>
                    <li>result.types</li>
                    <li>result.distance</li>
                    <li>result.time</li>
                </ul>
                <label>If you like this places click here </label>
                <input type="checkbox" name="savesPlaces" ng-model="result.saved" />

            </div>
        </div>
        <div id="savedPlaces">
            <div ng-hide="self.viewingPlaces ===false">
                <div ng-repeat="saved in self.places">
                    <label> My places</label>
                    <ul>
                        <li>saved.name</li>
                        <li>saved.formmatted_address</li>
                        <li>saved.formatted_phone_number</li>
                        <li>saved.website</li>
                        <li>saved.price_level</li>
                        <li>saved.rating</li>
                        <li>saved.photos</li>
                        <li>saved.types</li>
                        <li>saved.distance</li>
                        <li>saved.time</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="floating-box">

        <form id="directionsearch">


            <button type="button" ng-click="self.start = !self.start" class="btn btn-success">Search for directions here</button> <br /> <br />
            <img ng-hide="self.start === false" src="http://icons.mqcdn.com/icons/stop.png?text=A&amp;color=green1" />
            <input type="text" id="origin" class="addbox" ng-hide="self.start === false" /><br />

            <img ng-hide="self.start === false" src="http://icons.mqcdn.com/icons/stop.png?text=B&amp;color=red1" />
            <input type="text" id="destination" class="addbox" ng-hide="self.start === false" /><br /><br />
            <button type="button" ng-hide="self.start === false" id="route-btn" ng-click="self.direction = true" class="btn btn-success">Get Direction</button>
        </form>



    </div>
</div>



<div class="rightboxes">
    <div id="map" class="floatingmapbox">
        map box

    </div>

    <div ng-hide="self.loggingin === false" class="rightloginbox">

        <form id="loginform" ng-submit="self.login()">
            <label id="label1">
                User Name:
            </label>
            <input class="box" name="username" ng-model="self.username" type="text" ng-required="true" />
            <label id="label1">
                Password:
            </label>
            <input class="box" name="pwd" type="password" ng-model="self.password" ng-required="true" />
            <input type="submit" class="btn btn-primary" value="Log In" />
            <button ng-click="self.loggingin = false">Cancel</button>
        </form>
    </div>

    <div ng-hide="self.registering === false" class="rightregisterbox">
        <form id="registerform" ng-submit="self.registger()">
            <label class="label1">
                User Name:
            </label>
            <input class="box" name="username" ng-model="self.username" type="text" ng-required="true" />
            <label class="label1">
                Email:
            </label>
            <input class="box" name="useremail" ng-model="self.email" type="email" ng-required="true" />
            <label class="label1">
                PassWord:
            </label>
            <input class="box" name="pwd" type="password" ng-model="self.password" ng-required="true" />
            <label class="label2">
                Confirmed Password :
            </label>
            <input class="box" name="pwd" type="password" ng-model="self.password" ng-required="true" />


            <input type="submit" class="bnt btn-primary" value="Register" />
            <button ng-click="self.registering = false">Cancel</button>
        </form>
    </div>







</div>

