<div class="nav">

    <ul>
        <li id="logo"><img src="../../fonts/road.jpg" contextmenu="By the Road " /></li>
        <li id="projectTitle"><h3>ByTheRoad</h3></li>
        <li class="login"><a ng-click="self.loggingin = !self.loggingin; self.registering = false; self.start= false;" ng-hide="self.logoutbtn === true">Login</a></li>
        <li class="register"><a ng-click="self.registering = !self.registering; self.loggingin = false; self.start = false" ng-hide="self.logoutbtn === true">Register</a></li>
        <li class="searchdirection"><a ng-click="self.start = !self.start; self.registering=false;  self.loggingin = false; self.editUser = false; ">Direction</a></li>

        <li class="logout"><a ng-show="self.logoutbtn === true" ng-click="self.logout(); self.editUser = false; self.viewingPlaces === false; self.toggleSavedBox();">Log Out</a></li>
        <li class="welcome" ng-show="self.logoutbtn === true">Welcome, {{self.data.FirstName}}</li>
        <!--<li class="welcome" ng-show="self.logoutbtn === true">Welcome, {{self.welcomeDisplay}}</li>-->

        <li class="edit"><a class="edituser" ng-click=" self.editUser = !self.editUser; self.start = false" ng-show="self.logoutbtn === true">Edit Profile</a></li>
    </ul>
</div>

<div id="leftBox">

    <div class="leftFloatingDiv">
        <div id="favoritesSavedBtn">
            <button type="button" ng-click="self.toggleSavedBox(); self.viewingPlaces=true; " ng-show="self.logoutbtn === true" class="Result1">My Places</button>

        </div>

        <h4 id="leftBoxHeading">Search Maps</h4><br />

        <div class="leftDivSearchChoices" ng-hide="self.distance ===false">

            <div class="distance">
                <button type="button" ng-model="self.minutebtn" class="distanceToFindPlaces" ng-click="self.minutebtn = true; self.hourbtn =false; self.milebtn = false; self.selected= false;  self.minutesUnit = null; self.hoursUnit =null; self.milesUnit= null">minutes</button>
                <button type="button" ng-model="self.hourbtn" class="distanceToFindPlaces" ng-click="self.hourbtn = true ; self.minutebtn =false; self.milebtn = false; self.selected= false;  self.minutesUnit = null; self.hoursUnit =null; self.milesUnit= null">hours</button>
                <button type="button" ng-model="self.milebtn" class="distanceToFindPlaces" ng-click="self.milebtn = true; self.minutebtn =false; self.hourbtn = false; self.selected= false; self.minutesUnit = null; self.hoursUnit =null; self.milesUnit= null">miles</button>

                <div class="distanceDetailed">

                    <p ng-hide="self.minutebtn === false || self.hourbtn === true || self.milebtn === true" ng-show="mincontent === 'minutes'">
                        Enter time in minutes you want to stop in <br />
                        <input name="mincontent" type="text" ng-model="self.minutesUnit" class="distanceorTimeInputBox" valid-number placeholder="Enter a number" />

                        <button ng-click="self.minutesUnit = null; self.selected= false" ng-show="self.minutesUnit.length > 0" class="clearBtn">Clear</button>
                    </p>

                    <p ng-hide="self.minutebtn === true || self.hourbtn=== false || self.milebtn === true" ng-show="hourcontent == 'hours'">
                        Enter time in hours you want to stop in<br />
                        <input name="hourcontent" type="text" ng-model="self.hoursUnit" class="distanceorTimeInputBox" />
                        <button ng-click="self.hoursUnit = null; self.selected= false " ng-show="self.hoursUnit.length > 0" class="clearBtn">Clear</button>
                    </p>

                    <p ng-hide="self.minutebtn === true || self.hourbtn === true || self.milebtn === false" ng-show="milecontent == 'miles'">
                        Enter miles you want to stop in<br />
                        <input type="text" name="milecontent" ng-model="self.milesUnit" class="distanceorTimeInputBox" valid-number placeholder="Enter a number" />
                        <button class="clearBtn" ng-click="self.milesUnit = null; self.selected= false" ng-show="self.milesUnit.length > 0">Clear</button>

                    </p>

                </div>

            </div>


            <div ng-show="self.milesUnit.length > 0 || self.hoursUnit.length > 0 || self.minutesUnit.length > 0 " class="nearbysearch">
                <div>
                    <form ng-submit="self.textSearch()">
                        <button type="button" id="searchbtn" class="btn btn-primary glyphicon glyphicon-search" value="Search" ng-click="self.selected= true; self.animation='animated slideInLeft'; self.textSearch()"></button>
                        <input type="text" id="searchInputBox" name="search" />
                    </form>
                </div>
                <div class="dragOutSearchResult">
                    <button type="button" ng-show="self.selected === true && (self.milesUnit.length > 0 || self.hoursUnit.length > 0 || self.minutesUnit.length > 0)" ng-click="self.selected = true;  self.animationResults='animated slideInLeft'"class="ButttonResultsSearch">Search Results</button>
                </div>

                <div class="searchIcons">
                    <button type="button" ng-click="self.selectedItem = ['food']; self.selected= true; self.nearbySearch()" class="btnForSearchImg ">
                        <span> <img src="../../fonts/glyphicons-476-dining-set.png" class="imgforSearchNearBy" /></span>
                    </button>
                    <button type="button" ng-click="self.selectedItem = ['lodging']; self.selected= true;  self.nearbySearch()" class="btnForSearchImg  ">
                        <span><img src="../../fonts/glyphicons-496-bed.png" class="imgforSearchNearBy" /></span>
                    </button>
                    <button type="button" ng-click="self.selectedItem = ['store'];  self.selected= true; self.nearbySearch()" class="btnForSearchImg ">
                        <span><img src="../../fonts/glyphicons-203-shopping-cart.png" class="imgforSearchNearBy" /></span>
                    </button>
                    <button type="button" ng-click="self.selectedItem = ['gas_station','car_repair','car_wash']; self.selected= true;  self.nearbySearch()" class="btnForSearchImg  ">
                        <span>
                            <img src="../../fonts/glyphicons-472-gas-station.png" class="imgforSearchNearBy" />
                        </span>
                    </button>
                    <button type="button" ng-click="self.selectedItem = ['parking'] ;  self.selected= true; self.nearbySearch()" ng-model="self.value5" class="btnForSearchImg ">
                        <span><img src="../../fonts/glyphicons-6-car - Copy.png" class="imgforSearchNearBy" /></span>
                    </button>
                    <button type="button" ng-click="self.selectedItem = ['atm','police','hospital', 'library', 'local_government_office','locksmith','pharmacy','post_office' ];  self.selected= true;  self.nearbySearch()" ng-model="self.value6" class="btnForSearchImg ">
                        <span><img src="../../fonts/glyphicons-490-handshake.png" class="imgforSearchNearBy" /></span>
                    </button>
                    <button type="button" ng-click="self.selectedItem = ['church']; self.selected= true;  self.nearbySearch(); " ng-model="self.value7" class="btnForSearchImg ">
                        <span><img src="../../fonts/glyphicons-303-temple-christianity-church.png" class="imgforSearchNearBy" /></span>
                    </button>

                </div>

            </div>
        </div>

    </div>







    <div id="slideoutsearchResultsDiv" ng-show="self.selected === true" class='{{self.animationResults}}'>

        <h3 id="slideboxheading">
            <b>Map Search</b>
            <button id="hide" type="button" ng-click="self.hidesearchResult = true; self.animationResults='animated slideOutLeft'">Hide</button>

            <button id="favorite" ng-click="self.showFavs = !self.showFavs" ng-show="self.logoutbtn === true" type="button">Favorites Only</button>
        </h3>

        <div ng-show="self.results[0] === 'none'">no results found</div>

        <div ng-show="(self.results[0] !== 'none' && !self.showFavs) || (self.results[0] !== 'none' && self.logoutbtn === false ) || (result.saved && self.showFavs)" class="resultsDiv" ng-repeat="result in self.results">

            <div class="searchResultsDetail">
                <div class="resultTitle">
                    <h3 class="searchResultHeading">
                        {{result.name}} <img class="starimg" ng-show="result.saved === true" src="http://pngimg.com/upload/star_PNG1592.png" width="20" height="20" ng-if="self.logoutbtn === true">
                    </h3>

                </div>
                <div class="searchAdd" ng-if="result.formatted_address !== undefined">{{result.formatted_address}}</div>
                <div class="searchAdd" ng-if="result.formatted_address === undefined" >{{result.vicinity}}</div>
                <div class="rating">{{result.rating}}</div>
                <div><label class="distanceFromLocLabel"> Distance:</label> {{result.distance}}</div>
                <div class="savedFavaotesButton">

                    <label ng-if="self.logoutbtn === true">Mark as Favorite </label>

                    <input type="checkbox" name="savesPlaces" ng-model="result.saved" ng-change="self.chkState = result.saved; self.poiToSave = result; self.favPOI()" ng-if="self.logoutbtn === true" />
                    <label ng-if="self.logoutbtn === false">Login to save as favorite</label>
                    <button class="navigatesearch" type="button" ng-if="false">Navigate</button>
                </div>

            </div>
        </div>
    </div>


    <div id="savedPlaces" ng-hide="self.viewingPlaces === false || self.logout=== false" class='{{self.animationSaved}}'>
        <h3 id="slideboxheading">My Favorite places</h3>
            
            <button id="hide" type="button" ng-click="self.toggleSavedBox(); self.selected = self.selected ;">Hide</button>
        <div class="searchFavoriteDetail" ng-repeat="saved in self.places">
            <div class="searchResultsDetail">
                <div class="resultTitle">
                    <h3 class="searchResultHeading"><strong>{{saved.Name}}</strong></h3>
                </div>

                <!--C# will return null as opposed to undefine-->
                <div class="searchAdd" ng-if="saved.Address !== null">{{saved.Address}}</div>
                <div class="searchAdd" ng-if="saved.Address === null">{{saved.Vicinity}}</div>

                <div class="rating">{{saved.Rating}}</div>
                <div>
                    <button class="deleteFav" ng-if="self.logoutbtn === true" ng-click="self.poiToSave = saved; self.chkState = false; self.favPOI()">Delete</button>


                </div>
            </div>
        </div>

    </div>
</div>


<div id="rightBox">
    <div id="map" class="floatingMapBox">
        map box

    </div>

    <div ng-hide="self.loggingin === false" class="rightLoginBox">

        <form class="loginform" ng-submit="self.login()">

            <label class="loginLabel">User Email:</label>
            <input class="loginInputBox" name="email" ng-model="self.login.Email" type="text" ng-required="true" />


            <label class="loginLabel">Password:</label>

            <input class="loginInputBox" name="pwd" type="password" ng-model="self.login.Password" ng-required="true" />


            <input type="submit" class="submitbtn" value="Log In" />

        </form>
    </div>

 
    <div class="rightRegisterBox" ng-hide="self.registering === false ">

    <form id="registerForm" ng-submit="self.register();">
        <div class="registerinfo">
            <label class="registerLabel">
                First Name
            </label><br />
            <input class="registerInputBox" name="firstName" type="text" ng-model="self.registerUser.FirstName" />
        </div>
        <div class="registerinfo">
            <label class="registerLabel">
                Last Name
            </label><br />
            <input class="registerInputBox" name="lastname" type="text" ng-model="self.registerUser.LastName" />

        </div>
        <div class="registerinfo">
            <label class="registerLabel">
                Email
            </label><br />

            <input class="registerInputBox" id="username" name="useremail" ng-model="self.registerUser.Email" type="email" ng-required="true" />
        </div>
        <div class="registerinfo">
            <label class="registerLabel">
                Password
            </label><br />
            <input class="registerInputBox" name="pwd" type="password" ng-model="self.registerUser.Password" ng-disabled="" ng-required="true" />

        </div>
        <div class="registerinfo">

            <label class="registerLabel">
                Confirm Password
            </label><br />

            <input class="registerInputBox" name="pwd" type="password" ng-model="self.registerUser.ConfirmPassword" ng-required="true" />
        </div>

       


        <input type="submit" class="registersubmitbtn" value="Register" />



        <!--<button ng-click="self.registering = false" class="cancelbtn">Cancel</button>-->
    </form>
</div>





<div ng-hide="self.start === false" class="rightStartBox">
    <form id="directionsearch">

        <label class="startLabel">Destination</label>

        <input type="text" class="destination" id="destination" ng-hide="self.start === false" ng-model="self.directions.destination" />
        <button type="button" ng-hide="self.start === false" id="route-btn" ng-click="self.direction = true; self.findRoute();" class="submitdirection">Get Direction</button>
        <button type="button" ng-hide="self.foundRoute === false" ng-click="self.start = false; self.startRouting()" class="submitdirection">Use this Route</button>
    </form>



</div>

<div class="rightEditBox" ng-show="self.editUser === true ">

    <form id="registerForm" ng-submit="self.updateProfile(self.data);">

        <div class="editinfo">
            <label class="registerLabel">
                Email
            </label><br />
            <input class="registerInputBox" name="Email" type="text" ng-model="self.data.Email" disabled />

        </div>
        <div class="editinfo">
            <label class="registerLabel">
                First Name
            </label><br />
            <input class="registerInputBox" name="FirstName" type="text" ng-model="self.data.FirstName" />
        </div>
        <div class="editinfo">
            <label class="registerLabel">
                Last Name
            </label><br />
            <input class="registerInputBox" name="LastName" type="text" ng-model="self.data.LastName" />

        </div>
        

        <div class="editinfo">
            <input type="submit" class="editsubmitbtn" value="Update" ng-click="self.editUser = false" />
            <button type="button" class="deleteUserBtn" ng-click="self.deleteProfile(); self.editUser = false; self.logoutbtn = false ">Delete</button>

        </div>




    </form>
</div>




</div>

<div id="mobileSearch" class="glyphicon glyphicon-search" ng-if="self.mobileSearch === false" ng-click="self.mobileSearch = true; self.showLeftBox()"></div>
<div id="mobileSearchHide" class="glyphicon glyphicon-globe" ng-if="self.mobileSearch === true" ng-click="self.mobileSearch = false; self.showRightBox()"></div>

<div id="errorCover" ng-if="self.hasError && self.errorMessage !== ''">
    <div id="errorMessages">

        <p>{{self.errorMessage}}</p>
        <button ng-click="self.errorMessage = ''">OK</button>
    </div>
</div>